.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 20px;
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 1000;
  font-family: "Work Sans", sans-serif !important;
}

.navbar .container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.menu-left {
  display: flex;
  align-items: center;
  gap: 15px;
  position: absolute;
  left: 0;
}

.menu-right {
  display: flex;
  align-items: center;
  gap: 15px;
  position: absolute;
  right: 0;
}

.navbar .logo {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo-img {
  height: 12vh;
  width: auto;
  display: block;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}

.navbar a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: white;
  transition: width 0.5s ease;
}

.navbar a:hover::after {
  width: 100%;
}
