.section-four {
  background-color: #dfd9cd; /* Lichte beige achtergrondkleur */
  display: flex;
  justify-content: center; /* Centreer de inhoud horizontaal */
  align-items: center; /* Centreer de inhoud verticaal */
  height: auto; /* Hoogte aangepast aan inhoud */
  padding: 0; /* Geen extra padding zodat de inhoud goed aansluit */
}

.section-four-container {
  display: flex;
  justify-content: space-between; /* Geen ruimte tussen de tekst en afbeelding */
  align-items: center; /* Verticaal centreren van tekst en afbeelding */
  width: 100%;
}

.section-four-container .content-left {
  flex: 1;
  display: block;
  text-align: left; /* Tekst aan de linkerzijde */
  padding: 10vw; /* Padding rondom de tekst */
  color: #484036; /* Donkerbruine tekstkleur */
}

.section-four-container .content-left p {
  font-size: 18px;
  color: #484036; /* Donkerbruine tekstkleur */
  line-height: 1.6;
}

.section-four-container .content-right {
  flex: 1;
  text-align: right; /* Afbeelding aan de rechterzijde */
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-right: 5vw; /* Geen padding aan de rechterzijde */
}

.section-four-container .content-right .me-image {
  width: 100%; /* Zorg dat de afbeelding de volledige breedte van de container vult */
  max-width: 600px; /* Beperk de maximale breedte van de afbeelding */
  border-radius: 30%;
}

.contact-button {
  display: inline-block;
  background-color: transparent; /* Transparante achtergrond */
  color: #484036; /* Donkerbruine tekstkleur */
  border: 2px solid #484036; /* Omlijning in donkerbruin */
  padding: 10px 50px; /* Padding rondom de tekst */
  font-size: 16px;
  text-decoration: none; /* Verwijder onderstreping */
  border-radius: 25px; /* Ronde hoeken voor de knop */
  margin-top: 20px; /* Ruimte boven de knop */
  transition: all 0.3s ease; /* Mooi animatie-effect voor hover */
}

.contact-button:hover {
  background-color: #484036; /* Donkerbruine achtergrond bij hover */
  color: #dfd9cd; /* Lichte tekstkleur bij hover */
  border-color: #3d2f28; /* Iets lichtere randkleur bij hover */
}
