.section-welcome {
  background-color: #dfd9cd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-top: 15vh;
}

.welcome-container {
  text-align: center;
}

.welcome-text {
  max-width: 800px;
  margin: 0 auto;
}

.welcome-text h1 {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.welcome-text h1.animate {
  opacity: 1;
  transform: translateY(0);
}

.welcome-text p {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease-out 0.5s, transform 1s ease-out 0.5s;
  margin-bottom: 15vh !important;
}

.welcome-text p.animate {
  opacity: 1;
  transform: translateY(0);
  margin-bottom: 15vh;
}

.cta-button {
  display: inline-block;
  background-color: #484036;
  color: #dfd9cd;
  border: 2px solid #484036;
  padding: 15px 40px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.cta-button:hover {
  background-color: #dfd9cd;
  color: #484036;
}

h1 {
  letter-spacing: 1.5px;
}

@media screen and (max-width: 768px) {
  .section-welcome {
    padding-top: 40vh;
  }

  .welcome-container {
    padding-bottom: 40vh;
  }
}
